# Python bytecode files
*.pyc
*.pyo
__pycache__

# Virtual environment directories
venv/
env/
ENV/

# .env file for sensitive data
.env

# Database file
*.postgresql

# IDE and editor configurations
.vscode/
.idea/

# Log files
*.log
